<a href="https://colab.research.google.com/github/shlbn/Da_homework/blob/main/demo_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()

In [ ]:
request = "CREATE TABLE EMP(id int, name varchar(32), last_name varchar(32))"
c.execute(request)
tables = c.fetchall()

In [ ]:
c.execute("SELECT count(*) from EMP")
results = c.fetchall()
results[0][0]

In [ ]:
import sys
!{sys.executable} -m pip install sqlitedict

Requirement already satisfied: sqlitedict in /opt/anaconda3/lib/python3.8/site-packages (1.7.0)

In [ ]:
import sqlitedict
import pandas as pd

In [ ]:
from sqlitedict import SqliteDict
mydict = SqliteDict('TestDB_key_value.sqlite', autocommit=True)

In [ ]:
mydict['key1'] = 'value1'
mydict['key2'] = ['123',123]
mydict['key3'] = pd.DataFrame()
mydict.commit()
# mydict.close()

In [ ]:
print(mydict['key1'])
print(mydict['key2'])
print(mydict['key3'])

value1
['123', 123]
Empty DataFrame
Columns: []
Index: []

In [ ]:
!{sys.executable} -m pip install tinydb

Collecting tinydb
  Downloading tinydb-4.4.0-py3-none-any.whl (21 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.4.0

In [ ]:
from tinydb import TinyDB, Query

In [ ]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')
db.insert({'int': 1, 'char': 'a'})
db.insert({'int': 1, 'char': 'b'})

2

In [ ]:
User = Query()
db.search(User.char == 'a')

[{'int': 1, 'char': 'a'}]